<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<link rel="stylesheet" type="text/css" href="/static/css/profile_management.css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    {% if err_msg %}
    <h3 align="center" style="color: red; font-weight: bold" id="err_msg">Warning: {{ err_msg }}</h3>
      {% if err_code %}
      <h3 align="center" style="color: orangered; font-weight: bold" id="err_code">Error code: {{ err_code }}</h3>
      {% endif %}
    {% endif %}
    
    <br>
    <br>
    <br>
    <br>
    <h3>confirmation mail sent succesfully</h3>
    <br>
    <br>
    <br>



  {% endblock %}
  </body>
</html>