
.subBtn {
    padding: 20px;
    width: 8%;
    background: #d9d9d9;
    color: #555;
    float:right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-top: 20px;
    margin-right: 1000px
  }
  
  .subBtn:hover {
    background-color: #bbb;
  }
  
  form {
    margin: 0;
    padding: 100;
    width: 100%;
  }
  form label {
  
    width: 45%;
    display:inline-block;
    /*display: grid;*/
    grid-template-columns: auto auto;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  form input {
  
    display:inline-block;
    text-align: center;
    padding: 0px 0;
    font-size: 10x;
    width: 45%;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 50px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  